.hero-section {
  background-image: linear-gradient(
      rgb(241 241 241 / 67%),
      rgb(255 255 255 / 79%)
    ),
    url("../../../images/heroSection-GB.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;

  h2 {
    font-style: italic;
    font-size: clamp(rem, 2vw + 1rem, 1rem);
    margin-bottom: 1rem;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}
