.container-comments {
  @include box-shadow;
  max-width: 750px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;

  .game-about {
    text-align: center;
  }
}

.container-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2.5rem 2rem;

  .comments-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }
  }

  .user-name-container {
    text-align: center;
  }
}
.date-comments {
  .date {
    font-style: italic;
    font-size: 12px;
  }
}
