.modal {
  display: none; // Assurez-vous que c'est bien 'none' ici
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-zoom-container {
  overflow: hidden; // Empêche l'image de déborder lors du zoom
  cursor: grab; // Change le curseur pour indiquer qu'on peut saisir l'image
}

.modal-content {
  display: block;
  max-width: 90%; // Limite la largeur maximale pour ne pas dépasser les bords de la modale
  max-height: 80vh; // Utilisez vh pour s'assurer que l'image ne dépasse pas la hauteur de l'écran
  transition: transform 0.25s ease; // Pour une transition fluide lors du zoom
  cursor: zoom-in; // Indique que l'image peut être zoomée
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid $purple-GB;
  border-radius: 50%;
  width: 50px; // Assurez-vous que la largeur est la même que la taille de la police
  height: 50px; // La hauteur doit être la même que la largeur
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1; // Ajustement pour centrer verticalement la croix, si nécessaire
  padding: 1rem;
}

.close:hover,
.close:focus {
  color: $purple-GB;
  text-decoration: none;
  cursor: pointer;
}

//User modal style

/* Style de base pour la modale, inchangé */
.userModal {
  display: none; /* La modale est cachée par défaut */
  position: fixed; /* Positionnement fixe par rapport à l'écran */
  left: 0;
  top: 0;
  width: 100%; /* Largeur de l'écran */
  height: 100%; /* Hauteur de l'écran */
  background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
}

/* Ajustements pour conserver les proportions et centrer les boutons */
.userModal-content {
  background-color: rgba(
    73,
    71,
    134,
    0.5
  ); /* Couleur de fond avec transparence */
  backdrop-filter: blur(10px); /* Flou de l'arrière-plan */
  -webkit-backdrop-filter: blur(10px); /* Pour la compatibilité avec Safari */
  margin: 15px;
  padding: 3rem;
  border-radius: 15px;
  width: 80vw; /* Largeur en fonction du viewport */
  height: auto; /* Hauteur identique à la largeur pour maintenir l'aspect carré */
  max-width: 500px; /* Largeur maximale */
  max-height: 500px; /* Hauteur maximale */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex; /* Utilisation de Flexbox pour centrer les éléments */
  flex-direction: column; /* Organise les boutons verticalement */
  justify-content: center; /* Centrage vertical des boutons */
  align-items: center; /* Centrage horizontal des boutons */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Bordure légère pour renforcer l'effet de verre */
}

/* Style pour la croix de fermeture, inchangé */
.userClose {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid $purple-GB;
  border-radius: 50%;
  width: 30px; // Assurez-vous que la largeur est la même que la taille de la police
  height: 30px; // La hauteur doit être la même que la largeur
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1; // Ajustement pour centrer verticalement la croix, si nécessaire
  padding: 1rem;
}

.userClose:hover,
.userClose:focus {
  color: $purple-GB;
  text-decoration: none;
  cursor: pointer;
}

/* Style des boutons, ajusté pour centrer */
#loginBtn,
#registerBtn,
.modal-form button {
  display: block; /* Chaque bouton occupe sa propre ligne */
  width: auto; /* Adaptation à la largeur du contenu */
  margin: 10px; /* Marge pour les espacer verticalement */
  padding: 10px 20px; /* Padding ajusté pour une meilleure forme */
  background: $purple-GB;
  color: white;
  border-radius: 10px;
  @include box-shadow;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: clamp(8px, 2vw, 14px);
  transition: 0.2s ease-out;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #494786;
    transform: scale(1.09);
  }
}

/* Adaptation pour les petits écrans */
@media screen and (max-width: 500px) {
  .userModal-content {
    width: 90vw; /* Ajustement de la largeur sur les petits écrans */
    height: 120vw; /* Ajustement de la hauteur pour maintenir le carré */
  }

  .login-text {
    font-size: 2vw;
  }

  #loginBtn,
  #registerBtn {
    font-size: 2vw;
  }
}

.modal-img {
  width: 20%;
  margin-bottom: 1rem;
}

.login-text {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
  font-size: clamp(12px, 2vw, 16px);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form input,
.modal-form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white; /* Fond blanc pour les champs */
  font-family: "Lato", sans-serif;
}

.back-arrow {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.back-arrow i {
  color: white;
}

.modal-links {
  text-align: center;
  margin-top: 20px;
}

.modal-links a {
  color: white; /* Ou toute autre couleur selon votre design */
  text-decoration: underline;
  cursor: pointer;
}

.modal-links a:hover {
  text-decoration: none; /* Optionnel, pour changer le style au survol */
}
