.cards-container {
  --auto-grid-min-size: 12rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 3rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-game {
    text-align: center;
    max-width: 150px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
