.bloc__page {
  margin-top: 9rem;
}

.container__twoBlocks {
  display: flex;
  margin: 2rem;
  gap: 2rem;

  .special-title {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Press Start 2P", system-ui;
    padding: 1rem;
    font-size: clamp(0.8rem, 0.8rem + 0.4vw, 1rem);
    line-height: 1.4;
  }
}

.container-game-details-title {
  background: $darkPurple-GB;
  border-radius: 10px 10px 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}

.container-pixel-img {
  width: 40px;
  .pixel-img {
    width: 100%;
  }
}

// Bloc de gauche

/*********** Presentation du jeu ***********/
.left__block {
  border-radius: 15px;
  width: 70%;
  display: flex;
  flex-direction: column;

  background: white;

  .details-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .game-img {
    height: 200px; /* Hauteur fixe pour toutes les images */
    width: 100%; /* Largeur automatique pour maintenir le ratio d'aspect */
    object-fit: contain;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after,
  .swiper-pagination-bullet-active {
    color: $purple-GB;
  }

  .swiper-pagination-bullet-active {
    background: $purple-GB;
  }

  li {
    list-style-type: initial;
    margin: 1.5rem;
  }
}

.game__presentation__container,
.other__photos,
.credit__pcb,
.import,
.cover__compare,
.ingame__compare,
.version__compare,
.additional__info,
.screenshots,
.magazine__test,
.credit__container,
.pcb__container,
.timeline,
.other-versions {
  background: white;
  margin: 2rem;
  border: 2px solid $grey-GB;
  border-radius: 15px;
  @include box-shadow;
}

.infoTable,
.individual__info {
  @include box-shadow;
}

.game__presentation__container {
  text-align: center;
  border-radius: 15px;
}

.game__info__container {
  margin: 2rem;
}

.game__description {
  padding: 2rem;
}

@media screen and (max-width: 850px) {
  .game__presentation__container {
    text-align: center;
  }

  .fronbox__side__container {
    display: inline-block;
  }

  .photo__frontbox {
    width: 100%;
  }
}

/*********** Presentation du jeu - Fin ***********/

/******************************************************/
/*********** Info et autres photos - Debut ***********/
/****************************************************/
.game__info__container {
  border-radius: 15px;
}

.container__table {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}

.individual__info,
.multiple__info {
  text-align: center;
}

table.infoTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.infoTable td {
  border: 2px solid #aaaaaa;
  padding: 8px 8px;
}

table.infoTable td:nth-child(even) {
  background: white;
}

.container__normal__img,
.container__side__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.other__photos {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  // gap: 2rem;

  .container__others__image {
    width: 180px;

    img {
      width: 100%;
      height: 200px;
    }
  }

  .container__others__image__side {
    width: 60px;

    img {
      width: 100%;
      height: 200px;
    }
  }

  .container__others__image__top {
    width: 180px;

    img {
      width: 100%;
      height: 50px;
    }
  }
}

//Responsive

@media screen and (max-width: 880px) {
  .container__table {
    display: block;
  }

  .multiple__info {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  table.infoTable td {
    padding: 3px 3px;
    font-size: 14px;
  }
}

/*********** Info et autres photos - Fin ***********/

/******************************************************/
/******************* Credit et pcb *******************/
/****************************************************/

/*********** Credit et pcb - Fin ***********/

.import,
.cover__compare,
.ingame__compare,
.version__compare,
.additional__info,
.screenshots,
.magazine__test,
.credit__container,
.pcb__container {
  ul {
    padding: 1rem;
  }
}

// .container__screenshots {
//   padding: 2rem;
// }

/******************************************************/
/******************* autres bloc *******************/
/****************************************************/

.screenshots {
  .container__screenshots {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .screenshots__image {
      width: 180px;

      img {
        width: 100%;
        height: 200px;
      }
    }
  }
}

/**************************************************/
/************** Bloc de droite********************/
/************************************************/

.right__block {
  border-radius: 15px;
  width: 30%;
  text-align: center;
  background: white;
}

.other-versions-container {
  max-width: 200px;
  margin: 2rem auto;
  background: $grey-GB;
  border-radius: 0 0 10px 10px;

  a {
    cursor: pointer;
  }

  // .other-versions-img-container {
  //   max-width: 200px;
  // }

  .other-versions-details {
    padding: 0.8rem;
    font-weight: 600;
  }
}

.timeline {
  background: white;
  border-radius: 15px;
  margin: 2rem;

  h4 {
    border-radius: 12px 12px 0px 0px;
    padding: 1rem;
    text-align: center;
  }
}

.panel-heading {
  padding: 2rem;
}

.add-btn-container {
  display: flex;
  justify-content: center;
}

.add__btns {
  margin: 1rem;
  background: $purple-GB;
  color: white;
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;
  font-size: clamp(0.5rem, 0.8438rem + 0.5vw, 0.8rem);

  &:hover {
    &:hover {
      transform: scale(1.02);
      transition: 0.3s;
    }
  }

  i {
    border-radius: 0.375em;
    transition: 0.3s;
  }
}

.container__comments {
  text-align: center;
}

.text__zone {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;

  textarea {
    background: white;
  }
}

.textelist {
  padding: 0.8rem;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

//Responsive block right and left

@media screen and (max-width: 680px) {
  .left__block,
  .right__block {
    width: 100%;
    text-align: center;
  }
}
