.table-responsive {
  width: 100%;
  overflow-x: auto; /* Assure la défilement sur les petits écrans */
  font-family: "Lato", sans-serif;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 8px;
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}

thead {
  background-color: $darkPurple-GB;
  color: white;
  text-transform: uppercase;
}

/* Stripe rows */
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
tbody tr:nth-child(even) {
  background-color: #dfdfdf;
}

.table-image {
  width: 80px; /* ou la taille que vous souhaitez */
  height: auto; /* pour maintenir l'aspect ratio de l'image */
}

@media only screen and (max-width: 400px) {
  .table-responsive {
    padding: 0;
  }
  th:first-child {
    border-top-left-radius: 0;
  }
  th:last-child {
    border-top-right-radius: 0;
  }
}
