.table-responsive {
  width: 100%;
  overflow-x: auto; /* Assure la défilement sur les petits écrans */
  font-family: "Lato", sans-serif;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 8px;
  vertical-align: middle;
}

/* Appliquer un bord arrondi sur le coin supérieur gauche du premier <td> du premier <tr> */
tbody tr:first-child td:first-child {
  border-top-left-radius: 15px;
}

/* Appliquer un bord arrondi sur le coin supérieur droit du dernier <td> du premier <tr> */
tbody tr:first-child td:last-child {
  border-top-right-radius: 15px;
}

/* Appliquer un bord arrondi sur le coin inférieur gauche du premier <td> du dernier <tr> */
tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

/* Appliquer un bord arrondi sur le coin inférieur droit du dernier <td> du dernier <tr> */
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

thead {
  background-color: $darkPurple-GB;
  color: white;
  text-transform: uppercase;
}

/* Stripe rows */
tbody tr:nth-child(odd) {
  background-color: #cacaca;
}
tbody tr:nth-child(even) {
  background-color: #dfdfdf;
}

.table-image {
  width: 80px; /* ou la taille que vous souhaitez */
  height: auto; /* pour maintenir l'aspect ratio de l'image */
}

@media only screen and (max-width: 400px) {
  .table-responsive {
    padding: 0;
  }
  th:first-child {
    border-top-left-radius: 0;
  }
  th:last-child {
    border-top-right-radius: 0;
  }
}
