.team-title {
  margin-bottom: 8rem;
}

.team-cards {
  --auto-grid-min-size: 20rem;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 5rem;
  text-align: center;
}

.project-team-title {
  text-align: center;
  margin: 2rem;
}

.card-content-container {
  padding: 1.5rem;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  @include box-shadow;
  .team-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .team-detail {
    text-align: center;

    h3 {
      margin-bottom: 8px;
    }
  }

  .team-socials {
    background: $darkPurple-GB;
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    a {
      cursor: pointer;
    }

    i {
      font-size: 1.5rem;
      color: white;

      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
        color: $grey-GB;
      }
    }
  }
}
