@mixin see-more {
  padding: 0.8em 1em;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  background: $purple-GB;
  color: white;
  transition: 0.2s ease-out;
  font-size: clamp(0.6rem, 2vw + 1rem, 1rem);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.09);
    background: $purple-GB;
  }
}

@mixin box-shadow {
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
