/************************* Tablette ****************************/
@media (max-width: 1024px) {
  //Hero Section
  .hero-section {
    flex-direction: column-reverse;
  }
  //Birthday Section
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 0 3rem;

    .container-birthday-img {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 200px;
      }
    }
  }

  //News Section
  .news-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 2rem;

    .news-card {
      img {
        width: 120px;
        height: 120px;
        margin-bottom: 1rem;
      }
    }
  }
  //Game Details
  .container__twoBlocks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left__block,
  .right__block {
    width: 100%;
  }
}

/************************* Large Mobile Screen ****************************/
@media only screen and (max-width: 767px) {
  //Birthday Section
  .posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;

    .container-birthday-img {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 180px;
      }
    }
  }
  //Comments Section

  .container-comments {
    max-width: 400px;
  }

  .container-data {
    flex-direction: column;
  }

  .comments-content {
    text-align: center;
  }
}
/************************* Small Mobile Screen ****************************/
@media only screen and (max-width: 500px) {
  //Nav
  nav {
    padding: 0.8rem;
  }
  //Hero Section
  .hero-section {
    h1 {
      font-size: 5vw;
    }

    margin-top: 50px;
  }
  //Birthday Section
  .posts {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .container-birthday-img {
      img {
        width: 200px;
      }
    }
  }

  //News Section
  .news-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .news-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 1rem 0;
      }
    }
  }

  //Comments Section

  .container-comments {
    max-width: 300px;
  }

  .container-data {
    flex-direction: column;

    .comments-img {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  //Page Team
  .team-cards {
    --auto-grid-min-size: 10rem;
    .team-card {
      .team-image {
        width: 80px;
        height: 80px;
      }
    }
  }
}
